.videoElement {
  width: 30vh;
  height: 25vh;
  min-width: 100px;
  min-height: 200px;
  padding-left: 3vh;
  padding-right: 3vh;
  float: left;
}

.videoListContainer{
  width: 90%;
  padding-left: 5%;
}

.videoElement img{
  width:100%
}
.videoUploadContainer{
  width: 40vh;
  min-width: 300px;
  margin: auto;
  margin-top: 40vh;
}
.videoUploadContainer div{
  margin-bottom: 3vh;
}
.videoUploadContainer input{
  width: 100%;
  height: 40px;
}

.videoUploadContainer button{
  margin-left: 10%;
  width: 80%;
  height: 30px;
}